@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: 'Social Media';
    src: url('https://cdn.jsdelivr.net/gh/giozsett/FONTS@main/TypeIcons-rXq8.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(28, 28, 28);
}

.topo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    margin: 15px 30px;
    text-transform: uppercase;
    font-family: 'Anton';
    font-size: 55px;
    color: #3bd5da;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(59, 59, 59, 0.7);
    margin: 25px 0px;
}

.navlinks {
    padding: 8px 12px;
    margin: 0px 10px;
    font-family: 'Anton';
    font-size: 24px;
    border-radius: 50px;
    transition: all 0.4s linear;
}

.navlinks:hover {
    background-color: #3bd5da;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
}

.contato {
    background-color: rgb(35, 113, 116);
    width: 98%;
    height: 30px;
    border-radius: 10px;
    padding: 2px 5px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Open Sans';
}

.contato u {
    text-decoration: none;
    font-family: 'Social Media';
    font-size: 20px;
}

.contato a {
    text-decoration: none;
    color: #000;
}

.contato span {
    padding: 0px 6px;
}


/* HOME */
main {
    width: 100%;
    margin: 10px 10px 40px 10px;
    border-radius: 10px;
    background-color: rgba(46, 46, 46, 0.65);
    padding: 20px 30px;
}

main h2 {
    width: 100%;
    text-align: justify;
    margin: 20px 0px;
    font-family: 'Jost';
    color: #f5f5f5;
    font-size: 24px;
}

article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.texto {
    width: 70%;
}

.texto p {
    text-align: justify;
    margin: 0px 0px 0px 15px;
    font-family: 'Open Sans';
    color: #f5f5f5;
    font-size: 16px;
}

.imagem {
    margin: 20px 0px;
    width: 25%;
}

.imagem img {
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 25px;
}


/* ATUALIZAÇÃO DE METAS */
.metas {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    font-family: 'Open Sans';
    color: #fff;
}

.metas h1 {
    width: 100%;
    text-align: center;
    font-family: 'Anton';
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.wrapper1 {
    width: 270px;
    background-color: rgb(59, 213, 218, 0.25);
    padding: 10px;
    border-radius: 5px;
}

.wrapper1 h3 {
    font-size: 20px;
    width: inherit;
    text-align: center;
    font-family: 'Jost';
}

.wrapper1 td {
    height: 50px;
    padding: 10px;
}

.w1-result {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(238, 238, 238, 0.8);
}

.wrapper2 {
    width: 400px;
    background-color: rgba(221, 243, 244, 0.4);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.w2-labels {
    width: inherit;
}

.wrapper2 input[type="number"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    margin: 5px 0px 10px;
}

.wrapper2 input[type="date"] {
    width: 140px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 15px;
    border-style: none;
    margin: 0px 0px 10px 0px;
}

.btn-enviar {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.btn-enviar input[type="submit"] {
    padding: 5px;
}

.wrapper3 {
    width: 250px;
    background-color: rgb(118, 217, 209, 0.25);
    padding: 10px;
    border-radius: 5px;
}

.wrapper3 h3 {
    font-size: 20px;
    width: inherit;
    text-align: center;
    font-family: 'Jost';
}

.w3-result {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(238, 238, 238, 0.5);
}
